/* cadastro.component.scss */

.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/../assets/cadastro.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.mat-button-base {
  color: #000;
  background-color: #fff;
  &:hover {
    background-color: #eee;
  }
}

.cadastro-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.full-width {
  width: 100%;
}

.mensagem-aviso {
  margin-top: 10px;
  color: rgb(255, 243, 243);
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(96, 13, 0);
  border: 1px solid rgb(8, 8, 8);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
