<div class="cadastro-container">
  <mat-card class="cadastro-card">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>

    <div *ngIf="mostrarMensagem" class="mensagem-aviso">
      Por favor, preencha todos os campos!
    </div>

    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" [(ngModel)]="nome" name="nome">
        <mat-hint align="start" *ngIf="!nome">Digite o nome.</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Sobrenome" [(ngModel)]="sobrenome" name="sobrenome">
        <mat-hint align="start" *ngIf="!sobrenome">Digite o sobrenome.</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="E-mail" [(ngModel)]="email" name="email">
        <mat-hint align="start" *ngIf="email && !isEmailValid()">Digite um e-mail válido.</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Tipo de Cadastro</mat-label>
        <mat-select [(ngModel)]="tipoCadastro" name="tipoCadastro">
          <mat-option value="cliente">Cliente</mat-option>
          <mat-option value="barbeiro">Barbeiro</mat-option>
        </mat-select>
        <mat-hint align="start" *ngIf="!tipoCadastro">Selecione o tipo de cadastro.</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Senha" [(ngModel)]="password" name="senha">
        <mat-hint align="start" *ngIf="password && !isPasswordValid()">A senha deve ter pelo menos 8 caracteres, uma letra maiúscula, um caracter especial e um número.</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Confirme a senha" [(ngModel)]="confirmarSenha" name="confirmarSenha">
        <mat-hint align="start" *ngIf="confirmarSenha && password !== confirmarSenha">As senhas não correspondem.</mat-hint>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="realizarCadastro()" class="white-text">Cadastrar</button>
      <button mat-button (click)="cancelarCadastro()" class="white-text">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
